# Forzar la carga de la extensión GD
php_value extension_dir "C:\xampp\php\ext"
php_value extension "php_gd.dll"

# Configuraciones adicionales para GD
php_value gd.jpeg_ignore_warning 1
php_value gd.png_ignore_warning 1